{% extends "base.html" %}
{% load static %}
{% block content %}
<form id="contact" method="get">
  {% csrf_token %}
  <div class="row-config">
    <div class="col-lg-6 offset-lg-0">
      <div class="section-heading">
        <h6>Entradas mensais</h6>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-4">
          <select name="search_month" id="type" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <option value=0>Selecione o mês</option>
            {% for month in months %}
            <option value={{ month }}>{{ month }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-4">
          <select name="search_year" id="type" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <option value=0>Selecione o ano</option>
            {% for year in years %}
            <option value={{ year }}>{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-4">
          <select name="search_type" id="type" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <option value="all">Todos</option>
            <option value="insurance_rent">Seguros e Aluguéis</option>
            <option value="sale_service">Vendas e Serviços</option>
            <option value="insurance">Seguros</option>
            <option value="rent">Aluguéis</option>
            <option value="sale">Vendas</option>
            <option value="service">Serviços</option>
          </select>
        </div>
        <button id="" type="submit" class="btn">Atualizar</button>
      </div>
    </div>
  </div>
</form>

<table class="table" id="table_count">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Nome</th>
      <th scope="col">Valor</th>
      <th scope="col">Tipo</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for row in query %}
    <tr>
      <td>{{ row.date|date:"j/n/Y" }}</td>
      <td>{{ row.name }}</td>
      <td>R$ {{ row.value }}</td>
      <td>
        {% if row.type == 'insurance' %}
        Seguro
        {% elif row.type == 'rent' %}
        Aluguel
        {% elif row.type == 'sale' %}
        Venda
        {% elif row.type == 'service' %}
        Serviço
        {% endif %}
      </td>
      <td></td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>R$ {{ total }}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}